@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: whitesmoke;
    font-family: 'noto sans jp', sans-serif;
    font-size: 18px;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'oswald', sans-serif;
    font-size: 40px;
}
h2 {
    color: whitesmoke;
    font-size: 20px;
    margin-left: 15px;
}

        /*Barre de Menu*/

    nav {
    background-color: #4A5DBB;
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
}
    .profile {
        margin-left: 30px;
        display: flex;
        align-items: center;
    }
    .profile img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

nav ul {
    display: flex;
}
nav ul li {
    margin-right: 30px;
    cursor: pointer;
    list-style: none;
}
nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}
nav ul li a:hover {
    font-weight: bolder;
}

        /*Présentation*/

.page-content {
    margin: 4%;
}

.header {
    margin-top: 3%;
    max-width: 85%;
}


.image {
    margin-top: 5%;
    text-align: center;
}
.image img {
    text-align: center;
    max-width: 100%;
}

        /*Compétences*/

#competences {
    margin-top: 5%;
}
.competence {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.skill {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill img {
    margin-bottom: 10px;
}
.skill p {
    margin: 0%;
    padding: 0%;
}

        /*Projets*/

#projet {
    margin-top: 5%;
}

#projet a {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    color: #4A5DBB;
}
#projet a:hover {
    font-weight: bolder;
}





@media screen and (max-width: 740px) {
	nav {
		justify-content: center;
        width: auto;
        height: auto;
	}
}

@media screen and (max-width: 500px) {
    body { 
        font-size: 14px;
    }
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 18px;
    }
    nav ul li a {
        margin: auto;
    }

    .competence {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) { 
    body {
        font-size: 12px;
    }
    
    h1 {
        font-size: 25px;
    }
    
    h2{
        font-size: 15px;
    }
    nav ul li a {
        margin: auto;
    }
}

@media screen and (max-width: 400px) {

    .profile img {
        width: 45px;
        height: 45px;
    }
    nav ul li a {
        margin: 0%;
    }
}